{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <!-- Site Metas -->
    <title>ISLA</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{%static 'css/animate.css' %}">
        <link rel="stylesheet" href="{%static 'css/animate.min.css' %}">
        <!-- Site CSS -->
        <link rel="stylesheet" href="{%static 'css/style.css' %}">
        <!-- ALL VERSION CSS -->
        <link rel="stylesheet" href="{%static 'css/versions.css' %}">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="{%static 'css/responsive.css' %}">
        <!-- Custom CSS -->
        <script src="{% static 'js/modernizer.js' %}"></script>
        <link rel="stylesheet" href="{%static 'css/custom.css' %}">
    <link rel="shortcut icon" href="{%static 'images/favicon.ico' %}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">


    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="host_version"> 

	<!-- Modal -->
	<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header tit-up">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Customer Login</h4>
			</div>
			<div class="modal-body customer-box">

				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane active" id="Login">
						<form method="POST">{%csrf_token%}
							{{formulario.as_p}}
						  
							<button type="submit" class="btn btn-primary">INICIAR SESION</button>
						  </form>
					</div>
				</div>
			</div>
		</div>
	  </div>
	</div>

    <!-- LOADER -->
	<div id="preloader">
		<div class="loader-container">
			<div class="progress-br float shadow">
				<div class="progress__item"></div>
			</div>
		</div>
	</div>
	<!-- END LOADER -->	
	
	<!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand">
					<img src="{% static 'images/LogoISLA.png' %}" width="150" height="70" alt="" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-host">
					<ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">G.Academico</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown-a" style="font-size: 12px;">
								<a class="nav-link" href="{% url 'gestion' %}">GESTION ACADEMICA</a>
                                <a class="nav-link" href="{% url 'planClases' %}">Plan de clases</a>
                                <a class="nav-link" href="{% url 'silabo' %}">Silabo</a>
							</div>
						<li class="nav-item"><a class="nav-link" href="{% url 'servicios' %}">SERVICIOS</a></li>
                        <li class="nav-item"><a href="{% url 'cerrar_sesion' %}"><button class="btn btn-danger" style="background-color: red; margin-top: 1px;" type="button" >CERRAR SESIÓN</button></a> </li>
                        </li>
                    </ul>
				</div>
			</div>
		</nav> 
	</header>
	<!-- End header -->
	<div class="row" style="background-color: white;">
        <h1 style="text-align: center; margin-top: 20px;">Actualizar Docente</h1>
         
        <form style="text-align: center;" role="form" class="form-horizontal" method="POST">{%csrf_token%}
            
            
            <label>Nombre</label>
            <input type="text" name="nombre_docente" id="nombre_docente" value="{{docente.nombre_docente}}" required><br>
            <label>Email</label>
            <input type="email" name="email_docente" id="email_docente" value="{{docente.email_docente}}" required><br>
            <button style="margin-top: 10px;" type="submit" class="btn btn-primary">ACTUALIZAR</button>
            


        </form>

</div><!-- end container -->
	<div class="section cl">
		<div class="container">
			<div class="row text-left stat-wrap">
			</div><!-- end row -->
		</div><!-- end container -->
	</div><!-- end section -->    
    <!--{%static '
    ' %}-->
    <div class="parallax section dbcolor">
        <div class="container">
            
        </div><!-- end container -->
    </div><!-- end section -->

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Acerca</h3>
                        </div>
                        <p> </p>   					
                    </div><!-- end clearfix -->
                </div><!-- end col -->

				<div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Informacion</h3>
                        </div>
                        <ul class="footer-links">
                            <li><a>INICIO</a></li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
				
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Contactos</h3>
                        </div>

                        <ul class="footer-links">
                            <li><a href="#">isla@gmail.com</a></li>
                            <li><a href="#">www.ISLA.com</a></li>
                            <li>0982586525</li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
				
            </div><!-- end row -->
        </div><!-- end container -->
    </footer><!-- end footer -->

    <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-center">                   
                    <p class="footer-company-name">All Rights Reserved. &copy; 2021 </p>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->


    <!-- ALL JS FILES -->
    <script src="{% static 'js/all.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script src="{%static 'js/custom.js' %}"></script>
</body>
</html>