{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <!-- Site Metas -->
    <title>ISLA</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{%static 'css/animate.css' %}">
        <link rel="stylesheet" href="{%static 'css/animate.min.css' %}">
        <!-- Site CSS -->
        <link rel="stylesheet" href="{%static 'css/style.css' %}">
        <!-- ALL VERSION CSS -->
        <link rel="stylesheet" href="{%static 'css/versions.css' %}">
        <!-- Responsive CSS -->
        <link rel="stylesheet" href="{%static 'css/responsive.css' %}">
        <!-- Custom CSS -->
        <script src="{% static 'js/modernizer.js' %}"></script>
        <link rel="stylesheet" href="{%static 'css/custom.css' %}">
        <link rel="shortcut icon" href="{%static 'images/favicon.ico' %}" type="image/x-icon" />
        <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">
</head>
<body class="host_version"> 

	<!-- Modal -->
	<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header tit-up">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">INICIO DE SESION</h4>
			</div>
            <div class="modal-body customer-box">
                <ul class="nav nav-tabs">
                    <li><a class="active" href="#Login" data-toggle="tab">INICIAR SESION</a></li>
                    <li><a href="#Registration" data-toggle="tab">REGISTRARSE</a></li>
                </ul>
			<div class="modal-body customer-box">

				<!-- Tab panes -->
				<div class="tab-content">
					<div class="tab-pane active" id="Login">
						<form role="form" class="form-horizontal" method="POST">{%csrf_token%}
							{{formulario.as_p}}
						  
							<button type="submit" class="btn btn-primary">ENVIAR</button>
						  </form>
					</div>
                    <div class="tab-pane" id="Registration">
						<form role="form" class="form-horizontal" method="POST"> {%csrf_token%}
							{{formularioP.as_p}}
                            <button type="submit" class="btn btn-primary">REGISTRAR</button>
						</form>
					</div>
                </div>
				</div>
			</div>
		</div>
	  </div>
	</div>

    <!-- LOADER -->
	<div id="preloader">
		<div class="loader-container">
			<div class="progress-br float shadow">
				<div class="progress__item"></div>
			</div>
		</div>
	</div>
	<!-- END LOADER -->	
	
	<!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a class="navbar-brand" href="index.html">
					<img src="{% static 'images/LogoISLA.png' %}" width="150" height="70" alt="" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
					<span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-host">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item"></li>
						<li class="nav-item"></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
                        <li><a class="btn btn-info" href="#" data-toggle="modal" data-target="#login"><span>INGRESO AL SISTEMA</span></a></li>
                    </ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- End header -->
	
	<div id="carouselExampleControls" class="carousel slide bs-slider box-slider" data-ride="carousel" data-pause="hover" data-interval="false" >
		<!-- Indicators -->
				<div class="carousel-inner" role="listbox">
				<div id="home" class="first-section">
					<div class="dtab">
						<div class="container">
							<div class="row">
								<div class="col-md-12 col-sm-12 text-right">
									<div class="big-tagline">
										<h2><strong>ISLA</h2>
									</div>
								</div>
							</div><!-- end row -->            
						</div><!-- end container -->
					</div>
				</div><!-- end section -->
			</div>
		</div>
	</div>
	<div class="section cl">
		<div class="container">
			<div class="row text-left stat-wrap">
			</div><!-- end row -->
		</div><!-- end container -->
	</div><!-- end section -->    
    <!--{%static '
    ' %}-->
    <div class="parallax section dbcolor">
        <div class="container">
            
        </div><!-- end container -->
    </div><!-- end section -->

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Acerca</h3>
                        </div>
                        <p> </p>   					
                    </div><!-- end clearfix -->
                </div><!-- end col -->

				<div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Informacion</h3>
                        </div>
                        <ul class="footer-links">
                            <li><a href="#">INICIO</a></li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
				
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Contactos</h3>
                        </div>

                        <ul class="footer-links">
                            <li><a href="#">isla@gmail.com</a></li>
                            <li><a href="#">www.ISLA.com</a></li>
                            <li>0982586525</li>
                        </ul><!-- end links -->
                    </div><!-- end clearfix -->
                </div><!-- end col -->
				
            </div><!-- end row -->
        </div><!-- end container -->
    </footer><!-- end footer -->

    <div class="copyrights">
        <div class="container">
            <div class="footer-distributed">
                <div class="footer-center">                   
                    <p class="footer-company-name">All Rights Reserved. &copy; 2021 </p>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end copyrights -->
    <script src="{% static 'js/all.js' %}"></script>
    <script src="{%static 'js/custom.js' %}"></script>
</body>
</html>